{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "ignorePatterns": ["jest.setup.js", "jest.setup.IT.js", "jest.config.js", "jest.config.IT.js"],
    "rules": {
        "quotes": [2, "double"],
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/explicit-module-boundary-types": 0
    }
}
