.idea
build
dist
npm-debug.log
coverage
.project
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
.gradle/
gradlew
gradlew.bat
*.iml
*.tern-project
compiled
node_modules
*.log
.bin/
.vscode/
.classpath
.settings/
*~*
result.json
/testb*.json
/testa*.json
/test1*.json
/test2*.json
